{% extends "layout" %}

{% block title %}Skateboard für alle{% endblock %}

{% block body_class %}no-footer{% endblock %}

{% block content %}
<div class="background">
    <div id="container">
        <div id="container_logo">
            <img id="logo_text" src="/static/images/logo_text.png" alt="Skateboard für alle">
            <img id="logo" src="/static/images/sfa_skt.gif" alt="Animiertes Skateboard-Logo">
            <img id="motto" src="/static/images/slogan.png" alt="Wir fördern Skateboarding">
        </div>
    </div>
</div>

<script src="/static/js/intro.js"></script>


{% endblock %}


