<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skateboard für alle{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Home</a>
            <a href="/about">Über uns</a>
            <a href="/projects">Projekte</a>
            <a href="/news">Nachrichten</a>
            <a href="/impressum">Impressum</a>
            <a href="javascript:void(0);" class="icon" onclick="toggle()"> <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}

  
        <div class="footer-container">
        <div class="footer-line"></div>
        <img src="/static/images/SFA_Logo_v02.png" alt="Logo" class="footer-logo">
        <div class="footer-line"></div>
    </div>

    </main>

    <script src="/static/js/menu.js"></script>
    <script src="/static/js/intro.js"></script>
</body>
</html>
